root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4

# YAML files - maintain 2-space indentation
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Toml files
[*.toml]
indent_style = space
indent_size = 2

# GitHub Actions workflows
[.github/workflows/*.{yaml,yml}]
indent_style = space
indent_size = 2
